body {
    background-color: lightgray;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.s1 {
    position: absolute;
    margin-left: 165px;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.s1:hover {
    opacity: 0.7;
}

.s2 {
    position: absolute;
    margin-left: 464px;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.s2:hover {
    opacity: 0.7;
}

.s4 {
    position: absolute;
    margin-left: 763px;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.s4:hover {
    opacity: 0.7;
}

.s5 {
    position: absolute;
    margin-left: 1062px;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.s5:hover {
    opacity: 0.7;
}

.s7 {
    position: absolute;
    margin-left: 1362px;
    margin-top: 150px;
    transform: translate(-50%, -50%);
    opacity: 1.0;
}

.s7:hover {
    opacity: 0.7;
}